* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
    background-image: linear-gradient(to bottom right, rgb(252, 252, 252), rgb(221, 221, 221));
    font-size: 16px;
    font-family: myriad-pro, sans-serif;
    width: 100vw;
    color: black;
    margin: 0 auto;
    overflow-x: hidden;
}

header {
    height: 100vh;
    width: 100vw;
    position: relative;
}

header h1, header h2 {
    position: fixed;
    top: 0;
    font-size: 48px;
    font-size: 3rem;
    color: rgb(208, 208, 208);
    font-family: beloved-sans, sans-serif;
    line-height: 116px;
    margin-left: 4%;
    z-index: 14;
}

header h1 {
    cursor: pointer;
}

header h2 {
    margin-left: 60%;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 123px;
    position: static;
}

#headerImgCont {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    overflow-x: hidden;
    transition: left 1s ease-in-out;
}

#headerImgCont img {
    object-fit: cover;
    width: 100vw;
    position: relative;
}

nav {
    width: 100%;
    padding: 48px 0 0 0;
    background-color: rgb(26, 26, 26);
    position: sticky;
    top: 0;
    box-sizing: border-box;
    font-family: beloved-sans, sans-serif;
    z-index: 13;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 50%;
    padding-bottom: 15px;
    margin-left: 50%;
}

nav ul li:first-of-type {
    display: none;
}

nav ul li {
    list-style-type: none;    
    text-decoration: none;
    border-bottom: solid 1px none;
    padding: 0 20px;
    position: relative;
    color: rgb(208, 208, 208);
    cursor: pointer;
}

nav ul li::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    border-bottom: solid 1px rgb(208, 208, 208);
    opacity: 0;
    transition: left .3s ease, opacity .5s ease;
    z-index: -1;
}

nav ul li:hover:before {
    opacity: 1;
    left: 0;
    z-index: 2;
}

section {
    margin-top: 80px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.secHeader {
    margin: -40px 0 20px;
    text-align: center;
    font-size: 48px;
    font-size: 3rem;
    font-family: beloved-sans, sans-serif;
}

#showsThumbs {
    width: 55rem;
    top: -40px;
    left: calc(25% - 20px);
    font-size: 20px;
    font-size: 1.25rem;
    font-family: beloved-sans, sans-serif;
    position: relative;
    display: flex;
    justify-content: space-between;
}

#showsThumbs p:nth-of-type(odd) {
    cursor: pointer;
    position: relative;
    padding: 0 20px;
}

#showsThumbs p:nth-of-type(odd)::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    border-bottom: solid 1px rgb(0, 0, 0);
    opacity: 0;
    transition: left .3s ease, opacity .5s ease;
    z-index: -1;
}

#showsThumbs p:nth-of-type(odd):hover:before {
    opacity: 1;
    left: 0;
    z-index: 2;
}

#toLeft, #toRight {
    position: absolute;
    top: 50%;
    left: 8%;
    font-size: 72px;
    border: solid 1px black;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 65px;
    border-radius: 6px;
    cursor: pointer;
    z-index: 2;
}

#toRight {
    left: unset;
    right: 8%;
}

#toLeft:hover, #toRight:hover {
    background-color: rgb(26, 26, 26);
    background-image: linear-gradient(to bottom right, rgb(56, 56, 56), rgb(20, 20, 20));
    color: rgb(208, 208, 208);
}

#showCont {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 0;
    transition: left 1s ease;
}

#showCont article {
    flex-shrink: 0;
    width: 100%;
    padding: 0 20%;
    box-sizing: border-box;
    margin: 0 auto;
}

section article h2, section article p {
    margin-left: 20px;
}

section article p {
    margin-top: 5px;
    margin-bottom: 20px;
}

.imgCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(26, 26, 26);
    background-image: linear-gradient(to bottom right, rgb(56, 56, 56), rgb(20, 20, 20));
    color: rgb(208, 208, 208);
    padding: 20px 20px 60px;
    border-radius: 6px;
    position: relative;
    z-index: 2;
}

.showPic {
    width: 69%;
    object-fit: cover;
}

.imgCont p {
    width: 28%;
    margin-bottom: 0;
}

.showButtons {
    position: absolute;
    bottom: 3%;
    width: 100%;
    left: 20px;
}

.imgCont button {
    width: 18.9%;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px 0;
    border: solid 1px whitesmoke;
    margin-bottom: 5px;
    color: whitesmoke;
    background-color: transparent;
}

.imgCont button:nth-child(1) {
    display: none;
}

.imgCont button:hover {
    border-radius: 0;
}

.socMedLog {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.socMedLog:nth-of-type(2) {
    left: 50px;
}

.longShowText {
    width: 100% !important;
    margin: 20px !important;
}

.besetzung, .pressestimmen {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 5px;
    padding: 20px;
    position: absolute;
    margin-bottom: -100%;
    transition: all 1s ease;
}

#pressestimmenDL5J {
    grid-template-columns: 1fr;
}

.act, .pressestimme {
    margin: 0 20px 20px 0;
    border: 1px solid black;
    padding: 20px;
    box-shadow: 5px 5px rgb(24, 22, 52);
    background-color: whitesmoke;
    background-image: linear-gradient(to bottom right, rgb(252, 252, 252), rgb(221, 221, 221));
    transform: rotateX(90deg);
    transition: all 1s ease;
}

.pressestimme {
    display: flex;
    justify-content: space-between;
}

.act:nth-of-type(even) {
    margin-right: 0;
} 

.act img {
    float: left;
    object-fit: cover;
    border-radius: 10px;
    transition: all 1s ease;
    width: 50%;
    margin-right: 10px;
}

#presse1 {
    background: url(images/SWYW_02.jpg) no-repeat fixed center top;
    background-size: cover;
}

.presseBlock {
    height: 80vh;
    position: relative;
    width: 100%;
}

.presseBlock blockquote {
    width: 30%;
    position: absolute;
    left: 60%;
    top: 20%;
    background-color: rgba(0, 0, 66, 0.7);
    color: rgb(208, 208, 208);
    padding: 20px;
    font-size: 18px;
    font-size: 1.125rem;
    border-radius: 10px;
}

.presseBlock p {
    font-size: 16px;
    font-size: 1rem;
}

.presseBlock blockquote::before, .pressestimme blockquote::before {
    content: ',,';
    position: absolute;
    font-size: 96px;
    font-size: 6rem;
    left: -20px;
    top: -80px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.pressestimme blockquote::before {
    left: 20px;
    top: -65px;
    opacity: .3;
}

#leistungssec {
    position: relative;
}

#leistungssec::before {
    content: url(images/spotlight-trans.png);
    right: 0;
    top: -40px;
    position: absolute;
}

.leistungsbox {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    gap: 10px;
}

.leistungscont {
    border: 1px solid black;
    padding: 20px;
    width: 28%;
    box-shadow: 5px 5px rgb(24, 22, 52);
    background-color: whitesmoke;
    background-image: linear-gradient(to bottom right, rgb(252, 252, 252), rgb(221, 221, 221));
    position: relative;
}

.leistungscont h3 {
    font-family: beloved-sans, sans-serif;
    line-height: 1.25rem;
    margin-bottom: 20px;
}

.leistungsplaceholder {
    display: none;
}

#presse2 {
    background: url(images/Blues_Brothers_03.jpg) no-repeat fixed center top;
    background-size: cover;
}

#presse2 blockquote {
    background-color: rgba(50, 50, 73, 0.7);
}

table {
    margin: 0 auto;
    width: 70%;
    font-size: 20px;
    font-size: 1.25rem;
    border-collapse: collapse;
}

th {
    padding: 0 0 10px;
}

tr:nth-of-type(even) {
    background-color: rgb(218, 218, 218);
}

td {
    padding: 10px;
}

tr:hover {
    background-color: rgb(26, 26, 26);
    color: rgb(208, 208, 208);
}

td a {
    cursor: pointer;
    color: black;
}

tr:nth-of-type(n+2):hover a {
    color: rgb(208, 208, 208);
}

#referenzensec {
    position: relative;
}

#referenzensec h3 {
    font-family: beloved-sans, sans;
    text-align: center;
}

.loccont {
    text-align: center;
    margin-bottom: 40px;
}

.locations {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}

.loc {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}

.loc::after {
    content: '|';
    font-size: 20px;
    font-size: 1.25rem;
    position: absolute;
    top: 5px;
    right: 0;
}

.loc:last-child::after {
    content: '';
}

#presse3 {
    background: url(images/Blues_Brothers_06.jpg) no-repeat fixed center top;
    background-size: cover;
}

#presse3 blockquote {
    background-color: rgba(47, 39, 56, 0.7);
}

#teamsec {
    width: 90vw;
    max-width: 1200px;
    margin: 80px auto;
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:    'title title'
                            'pic1 pic2'
                            'text1 text2';
    text-align: center;
}

#teamsec h2 {
    grid-area: title;
}

#teamsec img {
    width: 90%;
    grid-area: pic1;
    margin: 0 auto;
}

#teamsec img:nth-of-type(2) {
    grid-area: pic2;
}

#teamsec p {
    grid-area: text1;
}

#teamsec p:nth-of-type(2) {
    grid-area: text2;
}

.teamPers h3 {
    font-size: 32px;
    font-size: 2rem;
    font-family: beloved-sans, sans-serif;
}

footer {
    margin-top: 80px;
    padding: 160px 0 80px 80px;
    display: flex;
    width: 100%;
    position: relative;
    background-color: rgb(26, 26, 26);
    background-image: linear-gradient(to bottom right, rgb(56, 56, 56), rgb(20, 20, 20));
    color: rgb(208, 208, 208);
}

footer h3 {
    font-size: 32px;
    font-size: 2rem;
    font-family: beloved-sans, sans-serif;
    top: 60px;
    left: 120px;
    position: absolute;
}

footer div {
    margin-left: 80px;
    width: 350px;
}

footer div:nth-of-type(2) {
    margin-left: 180px;
}

footer a {
    color: rgb(208, 208, 208);
    text-decoration: none;
    border-bottom: solid 1px rgb(208, 208, 208);
    transition: all .5s ease;
}

footer a:hover {
    padding: 0 5px;
    letter-spacing: 2px;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
}

.closeModal {
    position: absolute;
    top: 1%;
    right: 5%;
    font-size: 64px;
    font-size: 4rem;
    color: whitesmoke;
    cursor: pointer;
    z-index: 201;
}

.lightboxModal {
    height: 72%;
    margin: 3% auto;
    position: relative;
}

.lightboxModal img {
    height: 100%;
    margin: 0 auto;
    display: block;
}

.lightboxThumbs {
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    border-top: solid 1px white;
    padding-top: 1%;
    background-color: black;
}

.lightboxThumbs img {
    height: 90%;
}

@media only screen and (max-width: 1350px) {
    nav ul {
        width: 45%;
        margin-left: 55%;
    }

    nav ul li {
        padding: 0 8px;
    }    
}

@media only screen and (max-width: 1200px) {
    header h1 {
        font-size: 32px;
        font-size: 2rem;
    }

    nav ul {
        width: 54%;
        margin-left: 46%;
    }  

    .showButtons {
        bottom: 20px;
        display: flex;
        justify-content: space-between;
        right: 20px;
        width: unset;
    }

    .showPic {
        width: 68%;
    }

    .socMedLog {
        bottom: 20px;
    }    
    
}

@media only screen and (max-width: 980px) {    
    nav {
        padding-top: 25px;
    }

    nav ul {
        text-align: right;
        flex-direction: column;
        transition: all .1s ease;
    }

    nav ul li {
        display: none;
    }

    nav ul li::before {
        width: 50%;
    }
    
    nav ul li:hover:before {
        left: 50%;
    }

    nav ul li:first-of-type {
        display: block;
    }

    nav ul li:first-of-type::before {
        border-bottom: transparent;
    }

    nav ul li img {
        width: 3rem;
        position: relative;
        margin-right: 10px;
        top: 10px;
    }

    #showsThumbs {
        width: 100%;
        left: 0;
        line-height: 2rem;
    }

    .imgCont {
        padding-bottom: 20px;
    }

    .showButtons {
        width: 26%;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        order: 5;
        margin-top: 50px;
        margin-right: 20px;
    }

    .showButtons button {
        width: 100%;
    }

    .longShowText {
        width: 62% !important;
    }

    .leistungscont {
        cursor: pointer;
    }

    .leistungstext {
        display: none;
    }

    .leistungsplaceholder {
        display: block;
        text-align: center;
        font-size: 3rem;
        position: absolute;
        bottom: 5px;
        left: 48%;
    }
    
    .lightboxModal img {
        width: 100%;
        object-fit: cover;
        height: unset;
    }

    .lightboxThumbs {
        flex-wrap: wrap;
        height: 25%;
    }

    .lightboxThumbs img {
        height: 50%;
    }
}

@media only screen and (max-width: 852px) {
    #toLeft, #toRight {
        font-size: 56px;
        width: 62px;
        height: 62px;
        line-height: 54px;
        left: 3%;
    }
    
    #toRight {
        left: unset;
        right: 3%;
    }

    #showCont article {
        padding: 0 12%;
    }
    
    .act:nth-of-type(2n) {
        margin-right: 20px;
    }
    
}

@media only screen and (max-width: 783px) {
    header h1 {
        width: 360px;
        line-height: 40px;
        top: 10px;
    }

    #hamburger {
        top: -10px;
    }

    #showsThumbs p {
        z-index: 5;
    }

    #showCont article {
        padding: 0;
    }

    #toLeft, #toRight {
        display: none;
    }

    .imgCont {
        border-radius: 0;
        background-image: unset;
        padding: 5%;
    }

    .imgCont p {
        width: 95%;
    }

    .longShowText {
        width: 60% !important;
    }

    .showPic {
        width: 100%;
    }

    .showButtons {
        bottom: unset;
        margin-top: 30px;
    }

    .besetzung, .pressestimmen {
        width: 95%;
        display: block;
    }

    .act {
        display: flex;
        justify-content: space-between;
    }

    .act img {
        float: none;
    }

    .actVita {
        width: 50%;
    }

    .presseBlock blockquote {
        width: 85%;
        top: unset;
        left: 5%;
        bottom: 0;
    }

    .secHeader {
        background-color: rgba(245, 245, 245, 0.8);
        z-index: 3;
        position: relative;
    }

    .orbox {
        flex-direction: column;
        width: 90%;
        margin: 0 0 0 3%;
    }

    .orcont {
        width: 90%;
    }

    .locbox {
        flex-direction: column;
    }

    .loccont {
        width: unset;
        margin-bottom: 3px;
    }

    .loccont:nth-of-type(3) {
        margin-bottom: 50px;
    }

    footer {
        flex-direction: column;
        padding-left: 20px;
    }

    footer h3 {
        left: 20px;
        width: 90%;
    }

    footer div, footer div:nth-of-type(2) {
        margin-left: 0;
        width: 100%;
        margin-top: 40px;
    }
}

