<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Player</title>
    <link rel="stylesheet" href="a_data_002/styles.css">
</head>
<body>
  <main id="app"><div><h1>Video Player</h1><form><input type="radio" name="src" value="fast"> fast<input type="radio" name="src" value="slow"> slow<input type="radio" name="src" value="cute"> cute<input type="radio" name="src" value="eek"> eek</form><div><video controls="controls" autoplay="autoplay"></video></div></div></main>
	<script src="a_data_002/react-18-course-bundle.min.js"></script>
  <script src="a_data_002/App.compiled.js"></script>



<script type="text/javascript" src="a_data_002/relay.js"></script><script type="text/javascript" src="a_data_002/jquery.min.js"></script><script type="text/javascript" src="a_data_002/jquery.expect.js"></script></body></html>