.Track {
    font-family: 'Poppins', sans-serif;
    margin: 15px 0;
    padding: 5px 0;
    border: 1px solid transparent;
    transition: all .25s ease;
}

.Track:hover {
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
}

.buttonAddTrack {
    margin: 10px 0;
    padding: 10px 20px;
    color: whitesmoke;
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    cursor: pointer;
    transition: all .25s ease;
}

.buttonAddTrack:hover {
    background-color: rgba(245,245,245,1);
    color: rgb(1,12,63);
}